@model ReservationVM

@{
    ViewData["Title"] = "ShowReservation";
}

<div>
    <div class="row">
        <div class="col-10 mx-auto">

            <div class="text-center">
                <span id="countdown"></span>
            </div>            

            <partial name="Partial/_SelectedRoomsInfo" for="@Model" />

            <div class="mt-3 align-content: center">
                <form asp-controller="Payment" asp-action="ProcessPayment" method="get">

                    <div class="h-100 d-flex align-items-center justify-content-center">
                        <button type="submit" class="btn btn-success" id="continueButton">Ödeme Gerçekleştir</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<script src="~/js/Common/reservationExitHandler.js"></script>